{%- include 'overall_header.html' -%}

<p>{{- CURRENT_TIME -}}</p>
<h2>{{- MONTH_NAME }} {{ YEAR -}}</h2>

<div class="calendarmonthview">

{%- include '@marttiphpbb_calendarmonthview/include/pagination.html' -%}

<div class="calendarmonthview-panel">


<table>
{%- for w in week -%}
<tbody>

	<tr>
	{%- for wd in day -%}
		{%- include '@marttiphpbb_calendarmonthview/include/calendarmonthview_table_td.html' %}
			<div>
				<span class="mday">{{- wd.MDAY -}}</span>
				<span>{{- wd.NAME -}}</span>
			</div>
		</td>
	{%- endfor -%}
	</tr>

	<tr>
	{%- for wd in day -%}
		{%- include '@marttiphpbb_calendarmonthview/include/calendarmonthview_table_td.html' %}
			<div>
			{%- if wd.MOON_NAME and S_MOONPHASE -%}
			 	<div class="moon">
					<span class="fa-stack">
						<i class="icon fa-circle fa-stack-2x fa-inverse"></i>
						<i class="icon {{ wd.MOON_ICON }} fa-stack-1x"></i>
					</span> {{- wd.MOON_TIME -}}
				</div>
			{%- endif -%}
			{%- if wd.CLASS == 'mon' and S_ISOWEEK -%}
				<div class="isoweek" title="{L_ISOWEEK_TITLE}">{{- w.ISOWEEK -}}</div>
			{%- endif -%}
			</div>
		</td>
	{%- endfor -%}
	</tr>

{%- for e in eventrow -%}

	<tr>
	{%- for d in day -%}

		{%- if d.S_EVENT -%}
		<td{%- if d.COLSPAN %} colspan="{{- d.COLSPAN -}}"{%- endif -%}>
		<div class="calendarmonthview-event">Brr popi</div>
		</td>
		{%- else -%}
			{%- include '@marttiphpbb_calendarmonthview/include/calendarmonthview_table_td_empty.html' %}
		{%- endif -%}

	{%- endfor -%}
	</tr>
{%- endfor -%}

	<tr>
	{%- for wd in day -%}
		{%- include '@marttiphpbb_calendarmonthview/include/calendarmonthview_table_td_empty.html' %}
	{%- endfor -%}
	</tr>

</tbody>
{%- endfor -%}
</table>


<textarea name="content" id="content"{{- marttiphpbb_codemirror.data_attr ?? '' -}}>
	{{- CONTENT -}}
</textarea>

</div>

{#- include '@marttiphpbb_calendarmonthview/include/pagination.html' -#}
{%- include 'jumpbox.html' -%}
{%- include 'overall_footer.html' -%}
{%- INCLUDECSS '@marttiphpbb_calendarmonthview/calendarmonthview.css' -%}
{%- INCLUDEJS '@marttiphpbb_calendarmonthview/js/calendarmonthview.js' -%}
