{%- include 'overall_header.html' -%}

<p>{{- CURRENT_TIME -}}</p>
<h2>{{- lang('MARTTIPHPBB_CALENDARMONTHVIEW_MONTH_YEAR', MONTH_NAME, YEAR) -}}</h2>

<div class="calendarmonthview">
	{%- include '@marttiphpbb_calendarmonthview/include/pagination.html' -%}
		<div class="month">
		{%- for w in weeks -%}
			<div class="week">
				<div class="weekdays">
					{%- for d in weekdays -%}
						<div class="day">
							<div class="dayhead">
								<div class="monthday">{{- d.MONTHDAY -}}</div>
								<div class="weekday">{{- d.WEEKDAY -}}</div>
								<div class="isoweek">{{- d.ISOWEEK -}}</div>
							</div>
						</div>
					{%- endfor -%}
				</div>
				<div class="eventrows">
					{%- for er in eventrows -%}
						<div class="evrow">
						{%- for e in eventsegments -%}
							{%- if e.TOPIC_ID -%}
								<div class="flex-{{- e.FLEX }} "></div>

							{%- else -%}
								<div class="flex-{{- e.FLEX -}}"></div>
							{%- endif -%}
						{%- endfor -%}
						</div>
					{%- endfor -%}
				</div>
			{%- endfor -%}





			<div class="week">
			<div class="weekdays">
				<div class="day">
					<div class="head">
						<div class="monthday">10</div>
						<div class="isoweek">55</div>
					</div>
				</div>
				<div class="day">tue</div>
				<div class="day">wed</div>
				<div class="day">thu</div>
				<div class="day">fri</div>
				<div class="day">sat</div>
				<div class="day">sun</div>
			</div>
			<div class="events">
				<div class="col">
						<div class="transp flex-2"></div>
						<div class="ev ev-start ev-end flex-3"></div>
						<div class="transp flex-2"></div>

				</div>
				<div class="col">
					<div class="transp flex-3"></div>
					<div class="ev flex-4"></div>


				</div>
				<div class="col"></div>
				<div class="col"></div>
				<div class="col"></div>
				<div class="col"></div>
				<div class="col"></div>


			</div>
			</div>
		</div>
	{%- include '@marttiphpbb_calendarmonthview/include/pagination.html' -%}
</div>

{%- include 'jumpbox.html' -%}
{%- include 'overall_footer.html' -%}
{%- if LOAD_STYLESHEET -%}
	{%- INCLUDECSS '@marttiphpbb_calendarmonthview/calendar_page.css' -%}
{%- endif -%}
{%- if EXTRA_STYLESHEET -%}
	{%- INCLUDECSS EXTRA_STYLESHEET -%}
{%- endif -%}

{%- INCLUDEJS '@marttiphpbb_calendarmonthview/js/calendar_page.js' -%}
